<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYNLF2RB608GftREQKd7rKyJLVqhCWBqI</string>
	<key>GCM_SENDER_ID</key>
	<string>427607000143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-218.project-ios</string>
	<key>PROJECT_ID</key>
	<string>project1520-f91d3</string>
	<key>STORAGE_BUCKET</key>
	<string>project1520-f91d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427607000143:ios:4c59aa72347ca441a6563a</string>
	<key>DATABASE_URL</key>
	<string>https://project1520-f91d3-default-rtdb.firebaseio.com</string>
</dict>
</plist>